body{
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
}

input{
	border: none;
	border-bottom: 2px solid #1e90ff;
	width: 300px;
}

input:focus{
	outline: none;
}

label{
	color: #9e9e9e;
}

.centre{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border: 2px solid #e0e0e0;
    padding: 50px;
    border-radius: 2px;
}

.stl{
    border-radius: 2px;
    color: #1e90ff;
}

.btn{
	color: white;
    background: dodgerblue;
    border: none;
    padding: 4px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 15px;
}