<span class="stl">Login</span>
<br><br>

<form id="log" onsubmit="formsub();">
	<label for="usrnm">Username</label>
	<br>
	<input placeholder="Enter your username" type="text" id="usrnm" minlength="6" pattern="[A-Za-z0-9]+" title="Only 6 or more alphanumeric characters allowed" ng-model="username" required autofocus>
	<br><br>

	<datepicker></datepicker>
	<br><br>

	<label for="pass">Password</label>
	<br>
	<input placeholder="Enter your password" type="password" id="pass" minlength="6" pattern="[A-Za-z0-9]+" title="Only 6 or more alphanumeric characters allowed" ng-model="pwd" required>
	<br><br>
</form>

<button class="btn" type="submit" form="log">Submit</button>
<br><br>

<a style="text-decoration: none;" class="stl" href="#!register">Register as new user</a>